@use '@angular/material' as mat;
@import "tailwindcss" important;

// Customize the entire app. Change :root to your selector if you want to scope the 
:root {
  @include mat.button-overrides((filled-container-shape: '6px',
      outlined-container-shape: '6px'
    ));

  @include mat.badge-overrides((background-color: blue));
}

.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right: 0 !important;
}

.snack-error {
  @include mat.snack-bar-overrides((
      button-color: white,
      container-color: rgb(231, 99, 99),
      supporting-text-color: white));
}

.snack-success {
  @include mat.snack-bar-overrides((
      button-color: white,
      container-color: rgb(6, 138, 6),
      supporting-text-color: white));
}